<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item nav-profile">
        <a href="javascript:;" class="nav-link">
          <div class="nav-profile-image">
            <img src="assets/images/faces/face1.jpg" alt="profile">
            <span class="login-status online"></span> <!--change to offline or busy as needed-->              
          </div>
          <div class="nav-profile-text">
            <span class="font-weight-bold mb-2">Mr.admin</span>
            <span class="text-secondary text-small">administrateur</span>
          </div>
          <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
        </a>
      </li>
      <li class="nav-item" [ngClass]="{ 'active': dashboard.isActive }">
        <a class="nav-link" routerLink="/dashboard" routerLinkActive #dashboard="routerLinkActive">
          <span class="menu-title">Profile</span>
          <i class="mdi mdi-home menu-icon"></i>
        </a>
      </li>
      <li class="nav-item" [ngClass]="{ 'active': forms.isActive }">
        <a class="nav-link" routerLink="demandes" routerLinkActive #forms="routerLinkActive">
          <span class="menu-title">Demandes</span>
          <i class="mdi mdi-format-list-bulleted menu-icon"></i>
        </a>
      </li>
         
       
      <li class="nav-item" [ngClass]="{ 'active': forms.isActive }">
        <a class="nav-link" routerLink="etablessement" routerLinkActive #forms="routerLinkActive">
          <span class="menu-title">les établissements</span>
          <i class="mdi mdi-format-list-bulleted menu-icon"></i>
        </a>
      </li>
      <li class="nav-item" [ngClass]="{ 'active': forms.isActive }">
        <a class="nav-link" routerLink="users" routerLinkActive #forms="routerLinkActive">
          <span class="menu-title">les uilisateurs</span>
          <i class="mdi mdi-format-list-bulleted menu-icon"></i>
        </a>
      </li>


      <li class="nav-item" [ngClass]="{ 'active': forms.isActive }">
        <a class="nav-link" routerLink="creerlabo" routerLinkActive #forms="routerLinkActive">
          <span class="menu-title">Créer un laboratoire</span>
          <i class="mdi mdi-format-list-bulleted menu-icon"></i>
        </a>
      </li>



      <!--<li class="nav-item" [ngClass]="{ 'active': charts.isActive }">
        <a class="nav-link" routerLink="charts/chartjs" routerLinkActive #charts="routerLinkActive">
          <span class="menu-title">Charts</span>
          <i class="mdi mdi-chart-bar menu-icon"></i>
        </a>
      </li>
      <li class="nav-item" [ngClass]="{ 'active': tables.isActive }">
        <a class="nav-link" routerLink="tables/basic-table" routerLinkActive #tables="routerLinkActive">
          <span class="menu-title">Tables</span>
          <i class="mdi mdi-table-large menu-icon"></i>
        </a>
      </li>
      <li class="nav-item" [ngClass]="{ 'active': icons.isActive }">
        <a class="nav-link" routerLink="icons/mdi" routerLinkActive #icons="routerLinkActive">
          <span class="menu-title">Icons</span>
          <i class="mdi mdi-contacts menu-icon"></i>
        </a>
      </li>
      <li class="nav-item" [ngClass]="{ 'active': icons.isActive }">
        <a class="nav-link" routerLink="icons/mdi" routerLinkActive #icons="routerLinkActive">
          <span class="menu-title">Icons</span>
          <i class="mdi mdi-contacts menu-icon"></i>
        </a>
      </li>
    </ul>
  </nav>-->
  