<div class="page-header">
    <h3 class="page-title">
        <i  class="mdi mdi-account-multiple-outline"></i> les utilisateurs
    </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:;">Tables</a></li>
        <li class="breadcrumb-item active" aria-current="page"><button routerLinkActive  type="button" class="btn btn-gradient-info btn-rounded btn-fw"   routerLink="/creeruser">Ajouter</button></li>
      </ol>
    </nav>
  </div>

  <div class="col-lg-10 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Nom</th>
                <th>CIN</th>
                <th>Labo</th>
                <th>Email</th>
                <th>Role</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let membre of membres">
                <td class="py-1">{{ membre.nom }}</td>
                <td>{{ membre.CIN }}</td>
                <td>{{ membre.labo }}</td>
                <td>{{ membre.email }}</td>
                <td>{{ membre.role }}</td>
                <td>
                  <button type="button" class="btn btn-gradient-success"   (click)="ouvrirPopupModifier(membre)">modifier</button>

                  <div class="popup" *ngIf="membreSelectionne">
                    <div class="popup-contenu">
                        <!-- Champs d'entrée pour modifier les propriétés du membre -->
                        <label for="nom">Nom</label>
                        <input type="text" id="nom" [(ngModel)]="membreSelectionne.nom">
                
                        <label for="cin">CIN</label>
                        <input type="number" id="cin" [(ngModel)]="membreSelectionne.CIN">
                
                        <label for="etab">Etablissement</label>
                        <input type="text" id="etab" [(ngModel)]="membreSelectionne.etab">
                
                        <label for="genre">Genre</label>
                        <input type="text" id="genre" [(ngModel)]="membreSelectionne.genre">
                
                        <label for="email">Email</label>
                        <input type="text" id="email" [(ngModel)]="membreSelectionne.email">
              
                        <label for="role">Rôle</label>
                        <input type="text" id="role" [(ngModel)]="membreSelectionne.role">
                
                        <label for="labo">Laboratoire</label>
                        <input type="text" id="labo" [(ngModel)]="membreSelectionne.labo">
                
                        <!-- Bouton pour sauvegarder les modifications -->
                        <button type="button"  (click)="enregistrerModifications()">Enregistrer</button>
                        <button type="button"  (click)="annulerModifications()">Annuler</button>
                    </div>
                </div>
                
                <div class="alert alert-success" *ngIf="modificationEffectuee">
                  {{ messageModification }}
                </div>








                  <button type="button" class="btn btn-gradient-danger"  (click)="supprimerMembre(membre.id)">supprimer</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
