.popup {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7); /* Noir semi-transparent */
    z-index: 9999; /* Assure que la popup est au-dessus des autres éléments */
}

.popup-contenu {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
}
