
<div class="row" id="proBanner">
    
  </div>
  <div class="page-header">
    <h3 class="page-title">
      <span class="page-title-icon bg-gradient-primary text-white mr-2">
        <i class="mdi mdi-home"></i>                 
      </span>
      Demandes
    </h3>
    <nav aria-label="breadcrumb">
      <ul class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
          <span></span>Overview
          <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
        </li>
      </ul> 
    </nav>
  </div>
  <div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Demandes</h4>
          <div class="table-responsive">
            <table class="table">
          
              <tbody>
                <tr>
                  <td>
                   
                    Nazik Es'safi
                  </td>
                  <td>
                    FSSM
                  </td>
                  <td>
                    laboratoire ISI
                  </td>
                  <td>
                    <button type="button" class="btn btn-gradient-success btn-rounded btn-fw">Accepter</button>
            
                  </td>
                  <td>
                    
            <button type="button" class="btn btn-gradient-danger btn-rounded btn-fw">Rejeter</button>
                  </td>
                </tr>
                
                <tr>
                  <td>
                   
                    Nazik Es'safi
                  </td>
                  <td>
                    FSSM
                  </td>
                  <td>
                    laboratoire ISI
                  </td>
                  <td>
                    <button type="button" class="btn btn-gradient-success btn-rounded btn-fw">Accepter</button>
            
                  </td>
                  <td>
                    
            <button type="button" class="btn btn-gradient-danger btn-rounded btn-fw">Rejeter</button>
                  </td>
                </tr>
                <tr>
                  <td>
                   
                    Nazik Es'safi
                  </td>
                  <td>
                    FSSM
                  </td>
                  <td>
                    laboratoire ISI
                  </td>
                  <td>
                    <button type="button" class="btn btn-gradient-success btn-rounded btn-fw">Accepter</button>
            
                  </td>
                  <td>
                    
            <button type="button" class="btn btn-gradient-danger btn-rounded btn-fw">Rejeter</button>
                  </td>
                </tr>
                <tr>
                  <td>
                   
                    Nazik Es'safi
                  </td>
                  <td>
                    FSSM
                  </td>
                  <td>
                    laboratoire ISI
                  </td>
                  <td>
                    <button type="button" class="btn btn-gradient-success btn-rounded btn-fw">Accepter</button>
            
                  </td>
                  <td>
                    
            <button type="button" class="btn btn-gradient-danger btn-rounded btn-fw">Rejeter</button>
                  </td>
                </tr>
                
              </tbody>
            </table>
          
        </div>
      
    </div>
</div>