
<div class="page-header">
    <h3 class="page-title">
        <i  class="mdi mdi-account-multiple-outline"></i> Etablissements UCA
    </h3>
    
  </div>

<div class="row">
<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Faculté Semelalia UCA</h4>
        <div class="template-demo">
          <table class="table mb-0">
            <thead>
              <tr>
                <th class="pl-0">Laboratoire</th>
                <th class="pl-0">Directeur</th>
                <th class="text-center">Nombre membres</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="pl-0">ISI</td>
                <td class="pl-0">Mr.jarir</td>
                <td class="pr-0 text-center"><div class="badge badge-pill badge-primary">2</div></td>
              </tr>
              <tr>
                <td class="pl-0">DATAS</td>
                <td class="pl-0">Mr.jarir</td>
                <td class="pr-0 text-center"><div class="badge badge-pill badge-info">5</div></td>
              </tr>
              <tr>
                <td class="pl-0">BIO</td>
                <td class="pl-0">Mr.jarir</td>
                <td class="pr-0 text-center"><div class="badge badge-pill badge-danger">1</div></td>
              </tr>
              <tr>
                <td class="pl-0">chimie</td>
                <td class="pl-0">Mr.jarir</td>
                <td class="pr-0 text-center"><div class="badge badge-pill badge-success">9</div></td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"> ENSAM UCA</h4>
        <div class="template-demo">
          <table class="table mb-0">
            <thead>
              <tr>
                <th class="pl-0">Laboratoire</th>
                <th class="pl-0">Directeur</th>
                <th class="text-center">Nombre membres</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="pl-0">ISI</td>
                <td class="pl-0">Mr.jarir</td>
                <td class="pr-0 text-center"><div class="badge badge-pill badge-primary">2</div></td>
              </tr>
              <tr>
                <td class="pl-0">DATAS</td>
                <td class="pl-0">Mr.jarir</td>
                <td class="pr-0 text-center"><div class="badge badge-pill badge-info">5</div></td>
              </tr>
              <tr>
                <td class="pl-0">BIO</td>
                <td class="pl-0">Mr.jarir</td>
                <td class="pr-0 text-center"><div class="badge badge-pill badge-danger">1</div></td>
              </tr>
              <tr>
                <td class="pl-0">chimie</td>
                <td class="pl-0">Mr.jarir</td>
                <td class="pr-0 text-center"><div class="badge badge-pill badge-success">9</div></td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">ENCG UCA</h4>
        <div class="template-demo">
          <table class="table mb-0">
            <thead>
              <tr>
                <th class="pl-0">Laboratoire</th>
                <th class="pl-0">Directeur</th>
                <th class="text-center">Nombre membres</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="pl-0">ISI</td>
                <td class="pl-0">Mr.jarir</td>
                <td class="pr-0 text-center"><div class="badge badge-pill badge-primary">2</div></td>
              </tr>
              <tr>
                <td class="pl-0">DATAS</td>
                <td class="pl-0">Mr.jarir</td>
                <td class="pr-0 text-center"><div class="badge badge-pill badge-info">5</div></td>
              </tr>
              <tr>
                <td class="pl-0">BIO</td>
                <td class="pl-0">Mr.jarir</td>
                <td class="pr-0 text-center"><div class="badge badge-pill badge-danger">1</div></td>
              </tr>
              <tr>
                <td class="pl-0">chimie</td>
                <td class="pl-0">Mr.jarir</td>
                <td class="pr-0 text-center"><div class="badge badge-pill badge-success">9</div></td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Faculté Semelalia UCA</h4>
        <div class="template-demo">
          <table class="table mb-0">
            <thead>
              <tr>
                <th class="pl-0">Laboratoire</th>
                <th class="pl-0">Directeur</th>
                <th class="text-center">Nombre membres</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="pl-0">ISI</td>
                <td class="pl-0">Mr.jarir</td>
                <td class="pr-0 text-center"><div class="badge badge-pill badge-primary">2</div></td>
              </tr>
              <tr>
                <td class="pl-0">DATAS</td>
                <td class="pl-0">Mr.jarir</td>
                <td class="pr-0 text-center"><div class="badge badge-pill badge-info">5</div></td>
              </tr>
              <tr>
                <td class="pl-0">BIO</td>
                <td class="pl-0">Mr.jarir</td>
                <td class="pr-0 text-center"><div class="badge badge-pill badge-danger">1</div></td>
              </tr>
              <tr>
                <td class="pl-0">chimie</td>
                <td class="pl-0">Mr.jarir</td>
                <td class="pr-0 text-center"><div class="badge badge-pill badge-success">9</div></td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>